
  <div class="container mt-4 shadow" >
    <div class="card ">
            <h1 id="registroAluno">Registro de Aluno</h1>
    <form>
        <div class="form-group ">
          <label><strong>Nome</strong></label>
          <input type="text" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}"  class="form-control" id="nome" placeholder="Digite seu nome">
        </div>
        <div class="form-group ">
            <label><strong>Endereço</strong></label>
            <input type="text" [(ngModel)]="endereco" [ngModelOptions]="{standalone: true}"  class="form-control" id="endereco" placeholder="Digite seu endereço">
      
          </div>
          <div class="form-group ">
            <label><strong>Contato</strong></label>
            <input type="text" [(ngModel)]="telefone" [ngModelOptions]="{standalone: true}" class="form-control" id="telefone" placeholder="(xx) xxxxx-xxxx" >
      
          </div>
        
        <button type="submit" id="btCadAt"  class="btn btn-primary mt-4 shadow" (click)="salvarOuAtualizar()" >{{ textoBotao }}</button>
        <button type="submit" id="btLimpar"  class="btn btn-primary mt-4 shadow" (click)="limpar()" >Limpar</button>

        
      </form>
    </div>
    <div>
        <div class="container mt-4 shadow" >
          <h1>Alunos</h1>
          <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aluno of listaAlunos">
                <th scope="row">{{aluno.id  }}</th>
                <td>{{aluno.nome  | uppercase}}</td>
                <td>{{aluno.endereco }}</td>
                <td>{{aluno.telefone }}</td>
                <td>
                  <button type="button" id= "btnUpdate" class="btn btn-success shadow" (click)="setInputs(aluno)">Editar</button>
                  
                  <button type="button" id= "btnDelete" class="btn btn-danger shadow" (click)="deletarAluno(aluno.id)">Deletar</button>
                
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>

  